<div class="main">
  <tabset [justified]="true">
    <tab heading="My Gifs" (selectTab)="onTabSelect($event)">
      <app-user-gif
        [opened]="tabState === 'my-gifs'"
        [downloadCallback]="download"
        [gifCollection]="gifCollection"
        (gifCollectionItemRemoved)="onItemRemoved($event)"
      ></app-user-gif>
    </tab>
    <tab heading="Giphy" (selectTab)="onTabSelect($event)">
      <app-giphy
        [opened]="tabState === 'giphy'"
        [downloadCallback]="download"
        [gifCollection]="gifCollection"
        (gifCollectionNewItemAdded)="onNewItemAdded($event)"
      ></app-giphy>
    </tab>
  </tabset>
</div>
