/* You can add global styles to this file, and also import other style files */
@import "ngx-toastr/toastr";

.container {
  margin: 20px 0;

  .search {
    margin-top: 2rem;
  }

  .gif-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
  }

  .placeholder {
    width: 250px;
    background: none;
  }
}
